*{
	padding: 0;
	margin: 0;
	}
body{
	display: block;
}

}

h1{
	color: red;
}

.home{
	background: 
		/*linear-gradient(
			rgba(17, 126, 112, 0.75),
			rgba(0, 88, 255, 0.45)
		),*/
	url(../images/worldmap.png);
	
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.home > h1{
	color: red;
	text-align: center;
	/*display: center;*/
	margin-top: 50px;
	margin-left: 100px;
}

.img > div > img{
	margin-top: 100px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
 div{
 	display: block;
 }

.img > div > img:hover{
	transform: scale(5);
	border-radius: 0;
	transition: all 0.5s ease 0s;
	border: none;
}

.img{
	/*border: solid;*/
	height: 600px;
	display: flex;
}

.img > div > .a{
	margin-left: 350px;
	margin-top: 320px;
	border: solid;
}

.img > div >  .b{
	margin-left: 25px;
	margin-top: 470px;
	border: solid;
}

.img > div >  .c{
	margin-left: 68px;
	margin-top: 505px;
	border: solid;
}

.img > div >  .d{
	margin-left: 174px;
	margin-top: 238px;
	border: solid;
}

.img > div >  .e{
	margin-left: 60px;
	margin-top: 272px;
	border: solid;
}

.img > div >  .f{
	margin-left: 110px;
	margin-top: 293px;
	border: solid;
}

.img > div >  .g{
	margin-left: 105px;
	margin-top: 240px;
	border: solid;
}

.feedback{
	background-color: orange;
	height: 100vh;
}

#navbar	{
	padding: 0;
	margin: 0;
	overflow: hidden;
	/*background-color: #333;*/
	display: flex;
	height: 7vh;
	align-items:center;
	border: solid;b
	background-color: transparent;
	z-index: 1;
	position: sticky;
	top: 0px;
}

#navbar > div{
	margin-left: 500px;
}
#navbar > div > a{
	float: left;
	text-align: right;
	align-items: right;
	display: block;
	padding-left: 50px;
	margin-left: 20px;
	text-decoration: none;
}


#navbar > h2{
	font-style: capitalize;
	width: 30vw;
	margin-left: 20px;
}
.rd{
	background-color: blue;
	height: 100vh;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.rd > .btn > .yes:hover{
	content: none;
}

.rd > .btn > .scroll:hover: before{
	content: "Scroll Down";
}

.feedback{
	padding: 100px;
	height: 72vh;
	/*border: solid;*/
}


.feedback >div > .left > form{
	
	text-align: center;
	border-radius: 10px;
	margin-left: 50px;
	padding-top: 50px;
	display: center;
	align-items: center;
	justify-content: center;
	/*border: solid;*/
}
.input{
	align-items: center;
	display: flex;
	border-radius: 10px;
	border: solid;
	height: 50px;
	width: 300px;
	margin-top: 10px;
}

.btn{	
	background-color: darkblue;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
	display: center;
	margin-top: 10px;
	}
.btn:hover {
	background-color: salmon;
	}

.feedback > div{
	height: 50vh;
	width: 85vw;
	display: flex;
	/*border: solid;*/
}
.feedback > h3{
	height: 100px;
	text-align: center;
	display: flex;
	/*border: solid;*/
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.right{
	display: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	/*border: solid;*/
	margin-left: 500px;
	margin-top: 100px;
}